#CybotCookiebotDialog {
    box-shadow: none;
    border-top: 1px solid #eee;
}
#CybotCookiebotDialog #CybotCookiebotDialogBody {
    max-width: 100%;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 1000px) {
    #CybotCookiebotDialog #CybotCookiebotDialogBody {
        margin: 20px;
        display: block;
   }
}
#CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogPoweredbyLink {
    display: none;
}
#CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyContent {
    padding: 0;
    max-width: 1600px;
}
#CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyContent #CybotCookiebotDialogBodyContentTitle {
    color: #212934;
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.4;
}
@media only screen and (max-width: 1000px) {
    #CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyContent #CybotCookiebotDialogBodyContentTitle {
        margin-bottom: 16px;
        font-size: 28px;
   }
}
#CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyContent #CybotCookiebotDialogBodyContentText {
    color: #212934;
    font-size: 16px !important;
    line-height: 1.6 !important;
}
@media only screen and (max-width: 1000px) {
    #CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyContent #CybotCookiebotDialogBodyContentText {
        font-size: 14px !important;
   }
}
#CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons {
    margin: 0;
    display: flex;
}
@media only screen and (max-width: 1000px) {
    #CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons {
        margin-top: 20px;
        padding-left: 0;
   }
}
#CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons .CybotCookiebotDialogBodyButton, #CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons #CybotCookiebotDialogBodyButtonDetails {
    background-color: #368bd6;
    border: 2px solid #368bd6;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer !important;
    flex: 1 0 auto !important;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 55px !important;
    letter-spacing: 2px;
    line-height: 55px;
    margin: 7px;
    width: 200px;
    padding: 0 13px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    text-align: center;
}
#CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons .CybotCookiebotDialogBodyButton:hover, #CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons #CybotCookiebotDialogBodyButtonDetails:hover, #CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons .CybotCookiebotDialogBodyButton:focus, #CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons #CybotCookiebotDialogBodyButtonDetails:focus {
    background-color: #1e4b73;
    border: 2px solid #1e4b73;
}
@media only screen and (max-width: 1000px) {
    #CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons .CybotCookiebotDialogBodyButton, #CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons #CybotCookiebotDialogBodyButtonDetails {
        width: 50%;
   }
}
#CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons #CybotCookiebotDialogBodyButtonDetails {
    background-image: none !important;
    background-color: #eee;
    border: 2px solid #eee;
    color: #368bd6;
}
#CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons #CybotCookiebotDialogBodyButtonDetails:hover, #CybotCookiebotDialog #CybotCookiebotDialogBody #CybotCookiebotDialogBodyButtons #CybotCookiebotDialogBodyButtonDetails:focus {
    background-color: #368bd6;
    border: 2px solid #368bd6;
    color: #fff;
}
