$bg: #fff;
$text: #212934;
$primary: #368bd6;
$primary-dark: #1e4b73;
$secondary: #eeeeee;

#CybotCookiebotDialog {
    box-shadow: none;
    border-top: 1px solid $secondary;
    #CybotCookiebotDialogBody {
        max-width: 100%;
        margin: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 1000px) {
            margin: 20px;
            display: block;
        }
        #CybotCookiebotDialogPoweredbyLink {
            display: none;
        }
        #CybotCookiebotDialogBodyContent {
            padding: 0;
            max-width: 1600px;
            #CybotCookiebotDialogBodyContentTitle {
                color: $text;
                font-size: 34px;
                margin-bottom: 20px;
                line-height: 1.4;
                @media only screen and (max-width: 1000px) {
                    margin-bottom: 16px;
                    font-size: 28px;
                }
            }
            #CybotCookiebotDialogBodyContentText {
                color: $text;
                font-size: 16px !important;
                line-height: 1.6 !important;
                @media only screen and (max-width: 1000px) {
                    font-size: 14px !important;
                }
            }
        }
        #CybotCookiebotDialogBodyButtons {
            margin: 0;
            display: flex;
            @media only screen and (max-width: 1000px) {
                margin-top: 20px;
                padding-left: 0;
            }
            .CybotCookiebotDialogBodyButton {
                background-color: $primary;
                border: 2px solid $primary;
                border-radius: 3px;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
                box-sizing: border-box;
                color: $bg;
                cursor: pointer!important;
                flex: 1 0 auto!important;
                font-family: Arial,sans-serif;
                font-size: 14px;
                font-weight: 600;
                height: 55px!important;
                letter-spacing: 2px;
                line-height: 55px;
                margin: 7px;
                width: 200px;
                padding: 0 13px;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.2s ease-in-out;
                white-space: nowrap;
                text-align: center;
                &:hover,
                &:focus {
                    background-color: $primary-dark;
                    border: 2px solid $primary-dark;
                }
                @media only screen and (max-width: 1000px) {
                    width: 50%;
                }
            }
            #CybotCookiebotDialogBodyButtonDetails {
                @extend .CybotCookiebotDialogBodyButton;
                background-image: none !important;
                background-color: $secondary;
                border: 2px solid $secondary;
                color: $primary;
                &:hover,
                &:focus {
                    background-color: $primary;
                    border: 2px solid $primary;
                    color: $bg;
                }
            }
        }
    }
}